@import '../../properties.scss';
@import '../../variables.scss';
.Items {
    
    width: 100vw;
    background-color: $main-bg-light-creme;
    padding: $title-align-left-padding;
    column-gap: 50px;
    padding-top: 30px;
    min-height: 88vh;

    
@media screen and (max-width:1000px) {
    padding: $title-align-left-padding-small;
}

@media screen and (max-width:470px) {
    padding: 10px;
}
}