.form2 {

    background-color: white;
    width: 90vh;
    height: 313px;
    
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: space-between;

    row-gap: 10px;

    .form1 {
        display: flex;
        flex-direction: column;

        justify-content: space-between;
        align-items: flex-start;
        row-gap: 10px;
        padding-left: 50px;
        margin-bottom: 10px;
    }

    .box {
        position: absolute;
        width: 230px;
        height: 15px;
        left: 524px;

        margin-top: 50px;
        background: #35CD8C;
    }

    .heading1 {
        color: #2E266F;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        /* or 129% */
        padding-left: 50px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
    }



    .label {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        /* or 67% */

        display: flex;
        align-items: center;
        text-transform: capitalize;

        color: #2E266F;

    }



    .button1 {
        background-color: #35CD8C;
        color: white;
        width: 70px;

    }



}