@import '../../properties.scss';
@import '../../variables.scss';

.form {
    border: 4px solid $main-green;
    border-radius: 10px;
    margin-top: 70px;
    background-color: white;
    //width: 400px;
    width: fit-content;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 10px;
    .input-div {
        margin-bottom: 20px;
        
        label {
            display: block;
            font-weight: 500;
            font-size: 14px;
            color: $dark-blue;
        }
        input {
            padding: 5px 10px;
            border: 1px solid $main-green;
            border-radius: 5px;
            background-color: $main-bg-light-creme;
            width: 100%;
        &:focus {
            outline: none;
            border: 2px solid $main-green;
        }
        }
        
        &:focus-within {
            label {
                color: $main-green;
                font-weight: 600;
            }
        }
        }


    .heading1 {
        color: #35CD8C;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 34px;

        /* or 129% */

        display: flex;
        align-items: center;
        text-transform: capitalize;
        width: 360px;
    }

    .button1 {
        background-color: #35CD8C;
        color: white;
        background-color: $main-green;
        padding: 5px 25px;
        border: 1px solid $main-green;
        border-radius: 5px;
        color: #fff;
        font-weight: 500;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        @include hover-animate;
        
        &:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            font-weight: 600;
        }


    }

    .form1 {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: left;
        row-gap: 10px;
        padding-right: 20px;
        padding-bottom: 20px;
        height: 320px;
        width: 100%;
    }

    
    @media screen and (max-width:470px) {
        width: 100vw;
    }
}