@import '../../properties.scss';
@import '../../variables.scss';

.outer-div-header{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: $main-bg-light-creme;
    height: 12vh;
    padding: 0;
    .header-div{
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .creme-div{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 75vw;
    }

    .logo{    
        padding: 20px 0 20px $title-align-left-padding;
        font-weight: 700;
        color: $main-green;
        font-size: 50px;

        @media screen and (max-width:1000px) {
            padding-left: $title-align-left-padding-small;
        }   
    }

    .nav-div{
        display: flex;
        margin: auto;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        font-size: 16px;
        color: $dark-blue;
        .link{
            color: $dark-blue;
            text-decoration: none;
        }
        p{
            cursor: pointer;
            font-weight: 400;
            font-size: 30px;
            &:hover{
                font-weight: 500;
            }
        }

        @media screen and (max-width:1000px) {
            display: none;
        }
    }

    .nav-btn-div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        padding-right: $title-align-left-padding;
        height: 100%;
        width: 25vw;
        background-color: $main-green;
        color: $dark-blue;

        .link{
            color: $dark-blue;
            text-decoration: none;
        }

        button{
            visibility: hidden;

            @media screen and (max-width:1000px) {
                visibility: visible;
            }
        }

        @media screen and (max-width:1000px) {
            padding-right: $title-align-left-padding-small;
        }  
        
        // button{
        //     background-color: #fff;
        //     padding: 10px;
        //     border: none;
        //     border-radius: 10px;
        //     font-size: 16px;
        //     font-weight: 500;
        //     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        //     @include hover-animate;

        //     &:hover{
        //         box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        //         font-weight: 500;
        //     }
        // }
    }

    @media screen and (max-width:470px) {

        .logo{
            font-size: 40px;
        }

    }
}