@import '../../properties.scss';
@import '../../variables.scss';

.add-shop-outer-div{
    border: 4px solid $main-green;
    border-radius: 10px;
    padding: 30px 5%;
    width: fit-content;
    background-color: $main-bg-dark-creme;
   // margin: auto; //do this baad m

   .input-div{
       margin-bottom: 20px;
       label{
           display: block;
           font-weight: 500;
           font-size: 14px;   
           color: $dark-blue;     
       }

       input{
           padding: 5px 10px;
           border: 1px solid $main-green;
           border-radius: 5px;
           background-color: $main-bg-light-creme;
           width: 100%;
          &:focus{
              outline: none;
              border: 2px solid $main-green;
          }
       }

       &:focus-within{
           label{
               color: $main-green;
               font-weight: 600;
           }

       }
   }

   .btn-div{
       display: flex;
       flex-direction: row;
       margin-top: 20px;
       flex-wrap: wrap;
       gap: 20px;
       button{
           background-color: $main-green;
           padding: 5px 25px;
           border: 1px solid $main-green;
           border-radius: 5px;
           color: #fff;
           font-weight: 500;
           box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
           @include hover-animate;

           &:hover{
              box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
              font-weight: 600;
           }

       }
   }

   @media screen and (max-width:470px) {
      width: 90vw;
   }
}