$main-bg-light-creme: #FFF5EC;
$main-bg-dark-creme: #FFEDDE;
$main-green:#35CD8C;
$dark-blue:#2E266F;
$transparent-green: #35cd8bb3;



// margins and padding
$main-padding: 20px;
$title-align-left-padding: 90px;


$title-align-left-padding-small: 30px;